@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.header {
  background-image: url('/Construction.avif'),url('/Construction.jpeg');
  background-position: center;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(53, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  background-size: cover;
  text-shadow: 3px 3px 10px rgba(255,255,255,0.4);
}

.header_h1 {
  background-color: rgba(200,200,200,0.5);
}

.infra {
  font-size: 4.5rem !important;
}

.header_button {
  padding: 1rem 3rem;
  border-radius: 2.9rem;
  background: black;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  transition: all .5s;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.header_button:before {
  content: "+";
  margin-right: 1rem;
  font-size: 1.5rem;
  opacity: 0;
  visibility: none;
}

.header_button:hover {
  transform: translate(0,-2px);
}

.header_button:hover::before {
  animation: header_button .5s;
  opacity: 1;
  visibility: visible;
}


@keyframes header_button {
  0% {
    opacity: 0
  }
  50% {
    opactiy: 0.5
  }
  100% {
    opacity: 1
  }

}

.header_button:active {
  transform: translate(0,2px);
}


.navigation {
  background-color: white;
  width: 4rem;
  height: 20rem;
  position: absolute;
  right: 2rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 !important;
}
.Image {
  cursor: pointer;
  margin: auto;
  margin-top: 0 !important;
  margin-bottom: 0;
  padding: 0 !important;

}

.HomeIcon {
  margin: auto;
  bottom: 0;
  height: 3px;
  width: 2rem;
  background-color: black;
  border-radius: 4rem;
}

.recentProjects {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: grey;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project {
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem;
}

.project:hover {
  transform: translateY(-1rem);
  border-radius: 2rem;
  box-shadow: -2px -1px 18px 0 #999;
  -webkit-box-shadow: -2px -1px 18px 0 #999;
  -moz-box-shadow: -2px -1px 18px 0 #999;
}


.projectName {
  font-family: "Poppins";
  font-size: 2rem;
}

.footer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  
}

.header_h1_footer {
  font-weight: 600;
  font-size: 4rem;
  background-color:rgb(53, 51, 51);
}

.infra_footer {
  font-family: "Poppins";
}
.footer_h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.address_list {
  list-style: none;
  font-size: 1.2rem;
  max-width: 20rem;
  line-height: 1.5rem;
}

.contact_list {
  font-size: 1.2rem;
}



.customerReviewContent {
  border: 1px solid grey;
}

.customerReviewBox {
  padding: 1rem 3rem;
  background-color: #6980F3;
  display: flex;
  justify-content: space-evenly;
  max-width: 20rem;
  margin-left: auto;
  margin-right: 10rem;
}